.home {
	margin-top: 80px;
	display: flex;
	flex-direction: column;

	.content {
		min-height: calc(100vh - 190px);
		display: flex;
		margin-left: 5%;
		margin-right: 5%;
		width: 90%;
		flex-direction: column;
		align-items: center;
	}

	span {
		background-color: rgba(32, 29, 42, 0.9);
		padding: 20px;
		width: 90%;
		max-width: 900px;
		margin-top: 10px;

		.title {
			font-weight: bold;
			font-size: 20px;
			color: #f68902;
			margin-bottom: 10px;
		}

		.description {
			font-size: 15px;
			color: azure;
		}

		.author {
			margin-top: 5px;
			font-size: 12px;
			text-align: right;
			color: azure;
		}

		.date {
			color: azure;
			font-size: 10px;
			text-align: right;
		}
	}
}
