.box {
	display: flex;
	flex-direction: column;
	min-height: 200px;
	width: 80%;
	background-color: #201d2a;
	opacity: 0.85;
	color: white;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 15px;
	-webkit-box-shadow: 5px 5px 11px 4px rgba(0, 0, 0, 0.86);
	box-shadow: 5px 5px 11px 4px rgba(0, 0, 0, 0.86);
	.title {
		color: #f68902;
		font-weight: bold;
		font-size: 20px;
	}
	.description {
		padding-top: 5px;
		p {
			text-align: justify;
			text-justify: inter-word;
		}
	}
}
